<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p><strong>Priscilla Cheng here. First Gen. Female. Woman in Tech.</strong> Throughout my career, I have been a self starter with strong interest in developing new skills, learning new technologies, redefining leadership roles, and shaping workplace culture. I have worked in various roles that are at the intersection between leadership, engineering, and business. I have been leveling up my ability to communicate and connect with colleagues all around the world! I lead with empathy and am practicing the art of listening. I have been steadily refining my taste in puns and am excited to share more with you my history of academic and professional achievements that reflect who I am today.

              <p>
                <br>
                <br>
                <i>"To make life a little better for people less fortunate than you, that's what I think a meaningful life is. One lives not just for oneself but for one's community."</i>
                <br>  
                <br>- RBG
              </p>


            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Contact Information</div>

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">priscillacheng221@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 646-731-0877</div>
              </div>

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Languages:</strong>
                </div>
                <div class="col-sm-8">English (Native), Cantonese (Native), German (A2), Spanish (Elementary)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
