<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hello! I'm <strong>Priscilla Cheng.</strong> My portfolio reflects my life learnings and experiences. I often go volunteering as nothing is more rewarding than helping others and giving back to communities. I hope you enjoy gleaning insight my academic, professional, and personal aspects. Click away!

              <p>
                <br>
                <br>
                <i>"To make life a little better for people less fortunate than you, that's what I think a meaningful life is. One lives not just for oneself but for one's community."</i>
                <br>  
                <br>- RBG
              </p>


            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Contact Information</div>

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">priscillacheng221@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">+1 646-731-0877</div>
              </div>

              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Languages:</strong>
                </div>
                <div class="col-sm-8">English (Native), Cantonese (Native), German (A2), Spanish (Elementary)</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
