<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2018</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Arts & Sciences</div>
               <h4 class="category">Boston University - College of Arts and Sciences
               </h4>
               <ul>
                    <li>Completed B.A. in Economics with <b>3.52 Cumulative GPA</b>.</li>
                  <li>Dean's List:  Spring 2016, 2018; Fall 2016, 2017</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2016</p>
              <div class="h5">Study Academic Program</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Winter Semester</div>
               <h4 class="category">Technische Universität Dresden - Dresden, Germany
               </h4>
               <ul>
                    <li>Completed semester with <b>4.00 GPA</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2010 - 2014</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">High School</div>
               <h4 class="category">Stuyvesant High School - National Consortium for Specialized Secondary Schools of Mathematics, Science, & Technology
               </h4>
               <ul>
                <li><b>GPA: 3.7</b></li>
                <li>A.P. Scholar</li>
                <li>Regents Advanced Designation with Honor, Mastery in Science and Math</li>
                <li>Activities: Secretary of Student Union, Girl's Varsity Bowling Team Member (Pinheads), Debate Team Member, Red Cross Volunteer, Key Club Volunteer, Indicator: Business Team Member, Sing! Chorus Alto</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
